html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
ol,
ul,
li,
form,
label,
table,
tbody,
thead,
tr,
th,
td,
article,
aside,
footer,
header,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1.5vw;
  line-height: 1;
  list-style: none;
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace; }

@media screen and (max-width: 550px) {
  .html,
  body,
  div,
  span,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  a,
  img,
  ol,
  ul,
  li,
  form,
  label,
  table,
  tbody,
  thead,
  tr,
  th,
  td,
  article,
  aside,
  footer,
  header,
  menu,
  nav,
  section {
    font-size: 3vw; } }
.side-bar {
  height: 100vh;
  width: 5vw;
  background-color: #01134E; }
  .side-bar__button {
    color: rgba(255, 255, 255, 0.5);
    transition: 0.4s; }
    .side-bar__button:hover {
      cursor: pointer;
      color: #E5E5E5; }
    .side-bar__button-container {
      height: 50vh;
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: column; }
    .side-bar__button-active::after {
      content: '';
      position: absolute;
      width: 3px;
      height: 30px;
      background-color: #0AD69C;
      left: 0;
      transform: translateY(-10px); }
    .side-bar__button-active:first-child::after {
      content: '';
      position: absolute;
      width: 3px;
      height: 30px;
      background-color: #0AD69C;
      left: 0;
      transform: translateY(-20px); }
    .side-bar__button-active:last-child::after {
      content: '';
      position: absolute;
      width: 3px;
      height: 30px;
      background-color: #0AD69C;
      left: 0;
      transform: translateY(-20px); }

@media screen and (max-width: 550px) {
  .side-bar {
    width: 10vw; } }
.description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
  height: 70vh;
  overflow-y: auto; }
  .description__component {
    width: 100%; }

.main-list {
  width: 40%;
  height: 70vh;
  border-right: 1px solid #edf0f4;
  display: flex; }
  .main-list__sort {
    color: #bbc3cf;
    transition: 0.4s;
    display: flex; }
    .main-list__sort:hover {
      color: #959ba5; }
  .main-list__with-data {
    cursor: pointer;
    margin: 10px; }
  .main-list__container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%; }
  .main-list__segment {
    margin-top: 0 !important; }
  .main-list__small-container {
    height: 50vh;
    width: 100%;
    overflow-y: auto; }
  .main-list__no-data {
    margin: auto; }

.error {
  color: red; }

@media screen and (max-width: 550px) {
  .main-list__sort {
    height: 5vh;
    font-size: 4vw !important; } }
.header {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid #DAE4F2;
  background-color: #FFFFFF; }
  .header__activeItem {
    position: relative;
    margin-right: 50px; }

.App {
  display: flex;
  background-color: #F9FAFC; }
  .App__mainContainer {
    width: 100%; }
  .App__containerForLists {
    display: flex;
    margin: 30px auto;
    width: 90%;
    height: 70vh;
    background-color: #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 0px 30px rgba(153, 163, 174, 0.06);
    border-radius: 4px; }

/*# sourceMappingURL=index.css.map */
